# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id

# PayPal Support Link
NEXT_PUBLIC_PAYPAL_URL=https://www.paypal.com/paypalme/moslihayoub

# In-App Visual User Feedback Widget ID (Featurebase / Hotjar)
NEXT_PUBLIC_FEEDBACK_WIDGET_ID=your_feedback_widget_id
